<mat-toolbar>Transactions</mat-toolbar>
<h2>{{merchantTransactions.name}}</h2>

<mat-card-content class="large">
  <div fxFlexFill>
    <div fxFlexFill fxLayoutGap="10px 5px grid">
      <div fxFlex="25">
        <div class="two" fxLayout="column" fxFlexFill fxLayoutAlign="center center">
          <p>Count</p>
          {{merchantTransactions.transactionsCount}}
        </div>
      </div>
      <div fxFlex="25">
        <div class="three" fxLayout="column" fxFlexFill fxLayoutAlign="center center">
          <p>Total</p>
          £{{merchantTransactions.totalValueOfTransactions}}
        </div>
      </div>
      <div fxFlex="25">
        <div class="four" fxLayout="column" fxFlexFill fxLayoutAlign="center center">
          <p>Subsidy</p>
          £{{merchantTransactions.totalValueOfSubsidies}}
        </div>
      </div>
      <div fxFlex="25">
        <div class="four" fxLayout="column" fxFlexFill fxLayoutAlign="start center">
          <div class="chart">
            <canvas baseChart [data]="pieChartData" [labels]="pieChartLabels" [chartType]="pieChartType"></canvas>
          </div>
        </div>
      </div>
    </div>
  </div>
</mat-card-content>
