<div class="content">
  <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="20px grid" fxFlexFill>
    <div fxFlex="30" fxLayoutAlign="center start">
      <ng-container *ngIf="merchantsResponse$ | async | isSuccess">
        <app-merchant-selection [merchants]="merchants"></app-merchant-selection>
      </ng-container>
    </div>
    <div fxFlex="70" fxLayout="column" fxLayoutAlign="center center">
      <ng-container *ngIf="merchantTransactionsResponse$ | async | isSuccess">
        <app-transactions-header></app-transactions-header>
        <app-transactions-table [merchantTransactions]="merchantTransactions"></app-transactions-table>
      </ng-container>
    </div>
  </div>
</div>

<ng-container *ngIf="(merchantsResponse$ | async | isInProgress) || (merchantTransactionsResponse$ | async | isInProgress)">
 <p>Loading...</p>
</ng-container>
